# Vendas online

#### O objetivo:
 Realizar a análise dos resultados de um evento com os clientes de uma empresa de vendas online.
#### Cenários:
Foi coletado um conjunto de dados que contém os clientes que mais gastaram com produtos dentro de 5 dias de vendas, que é o período de duração do evento. A análise tem a proposta de:
  - Identificar o cliente com a maior compra na semana, que irá receber um prêmio da loja
  - Ajudar a empresa a criar novas estratégias para atrair mais clientes.

 A base de dados `dados_vendas_clientes.json` contém informações importantes sobre os clientes como, o nome de cadastro do cliente, o valor total pago na compra e o dia da compra.

In [1]:
import pandas as pd

In [3]:
# abrir a base de dados com Pandas e aplicar o json_normalize.
df_vendas = pd.read_json('../../dataset/dados_vendas_clientes.json')
df_vendas

                                        dados_vendas
0  {'Data de venda': '06/06/2022', 'Cliente': ['@...
1  {'Data de venda': '07/06/2022', 'Cliente': ['I...
2  {'Data de venda': '08/06/2022', 'Cliente': ['I...
3  {'Data de venda': '09/06/2022', 'Cliente': ['J...
4  {'Data de venda': '10/06/2022', 'Cliente': ['M...

In [5]:
type(df_vendas)

pandas.core.frame.DataFrame

In [7]:
df_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   dados_vendas  5 non-null      object
dtypes: object(1)
memory usage: 172.0+ bytes

#### Analise inicial dos dados
O arquivo contem informacoes aninhadas. Ha 5 linhas, uma data do evento, cada linha representa as informacoes de compras realizadas em uma data

In [9]:
# Normalizando os dados com pd.json_normalize()
df_vendas = pd.json_normalize(df_vendas['dados_vendas'])
df_vendas

,Data de venda,Cliente,Valor da compra
0,06/06/2022,"[@ANA _LUCIA 321, DieGO ARMANDIU 210, DieGO AR...","[R$ 836,5, R$ 573,33, R$ 392,8, R$ 512,34]"
1,07/06/2022,"[Isabely JOanes 738, Isabely JOanes 738, Isabe...","[R$ 825,31, R$ 168,07, R$ 339,18, R$ 314,69]"
2,08/06/2022,"[Isabely JOanes 738, JOãO Gabriel 671, Julya m...","[R$ 682,05, R$ 386,34, R$ 622,65, R$ 630,79]"
3,09/06/2022,"[Julya meireles 914, MaRIA Julia 444, MaRIA Ju...","[R$ 390,3, R$ 759,16, R$ 334,47, R$ 678,78]"
4,10/06/2022,"[MaRIA Julia 444, PEDRO PASCO 812, Paulo castr...","[R$ 314,24, R$ 311,15, R$ 899,16, R$ 885,24]"